@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to   { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
  from { opacity: 1; transform: translateY(0); }
  to   { opacity: 0; transform: translateY(-20px); }
}

.global-modal-container *,
.global-modal-container *::before,
.global-modal-container *::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.global-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  animation: fadeIn 0.3s ease-in;
}

.global-modal-container.fade-out {
  animation: fadeOut 0.3s ease-out;
}

.fadeOut {
  animation: fadeOut 0.3s ease-out;
}

.global-modal {
  max-width: 600px;
  width: 90%;
  background: #151419;
  color: white;
  border-radius: 1rem;
  padding: 1em;
  text-align: left;
  position: relative;
}

.global-modal .modal-header {
  display: flex;
  justify-content: flex-end;
}
.global-modal .modal-header .close {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  fill: #d9d9d9;
}

.global-modal .modal-body {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 1.5em;
}
.global-modal .modal-body .icon {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

@media screen and (min-width: 540px) {
  .global-modal .modal-body .icon {
    width: 4rem;
  }
}
.global-modal .modal-body h3 {
  font-size: 1.2rem;
  margin: 0 0 0.5em;
  font-weight: 600;
  color: #cccccc !important;
}
.global-modal .modal-body p {
  color: #cccccc !important;
  font-size: 1rem;
}

.global-modal .modal-footer {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.global-modal .btn {
  background-color: #222127;
  color: #fff;
  padding: 0.6rem 1.5rem;
  border-radius: 5px;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.global-modal .btn:hover {
  background-color: #444;
}

.global-modal.success {
  background: radial-gradient(ellipse at right top, #107667 0%, #151419 47%, #151419 100%);
  opacity: 1;
  transition: opacity 0.3s ease;
}
.global-modal.error {
  background: radial-gradient(ellipse at right top, #a63d2a 0%, #151419 47%, #151419 100%);
  opacity: 1;
  transition: opacity 0.3s ease;
}
.global-modal.warning {
  background: radial-gradient(ellipse at right top, #db913d 0%, #151419 47%, #151419 100%);
  opacity: 1;
  transition: opacity 0.3s ease;
}
.global-modal.warning .icon {
  color: #fec46c;
}
.global-modal.success .icon {
  color: #2eea9d;
}
.global-modal.error .icon {
  color: #fe6c9b;
}
